
:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
    
  * {
    padding: 0;
    margin: 0;
  }
    
  #apBox {
    background-color: white;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.303);
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
    border: none;
  }
    
  #apBoxHeader {
    height: 10%;
    border-bottom: 1px solid #f4f4f4;
    background-color: #26c165;
  }
  #apLogo {
    padding: 10px 0px 10px 10px;
    text-align: center;
    display: flex;
  }
  
  #apLogoCircle {
    width: 20px;
    height: 20px;
    background-color: white;
    overflow: hidden;
    padding: 4px;
    border-radius: 50%;
  }
    #apLogoCircle img {
      width: 100%;
    }
    #apLogoText {
      padding: 1px 0px 5px 5px;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
    #apTimer {
      background-color: #3cb364;
      padding: 1px;
      margin: 0px;
      position: relative;
    }
    #apTimerMovement {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: green;
    }
    #apTimerText {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: white;
      font-weight: 100;
      padding: 1px;
      font-size: 10px;
    }
    #apTimerText-left {
      font-weight: 600;
    }
    #apTimerText-right {
      font-weight: 500;
    }
    #apPrice {
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-top: 15px;
      padding: 5px 10px;
      font-size: 13px;
      border-bottom: 1px solid #0101010f;
    }
    
    #apBoxNav {
      border-bottom: 1px solid #ccc;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
    }
    #apBoxBody {
      border-top: 1px solid #0101010f;
      background-color: #f4f4f4;
    }
    
    
    #apQrcodeBox {
      padding: 10px;
      width: 250px;
      margin: 0 auto;
      overflow: hidden;
    }
    
    #apQrcodeBox img {
      margin: 0 auto;
      display: block;
      box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.071);
    }
    #htp {
      padding: 5px;
    }
    #howToPay {
      font-size: 13px;
      margin: 0 auto;
      display: block;
      text-align: center;
      text-decoration: underline dotted;
      color: #009688;
    }
    .loading-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #apOpenWalletBtn {
      background-color: #26c165;
      border: none;
      padding: 10px 20px;
      display: block;
      width: 80%;
      margin: 5px auto;
      text-align: center;
      color: white;
      font-size: 13px;
      font-weight: 600;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.303);
      border-radius: 3px;
    }
    
    /* MODAL*/
    .akivas-pay-modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      visibility: hidden;
      opacity: 0;
      transition: all 0.35s ease-in;
      z-index: 99999999999;
    }
    
    .akivas-pay-modal.visible {
      visibility: visible;
      opacity: 1;
    }
    #apay-widget {
        display: inline-block;
        background-size: 100% 60%;
        background-color: #26c165;
        color: white;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 100px;
        min-height: 32px;
        max-height: 64px;
        border: 0;
        font-size: 16px; /* Set a font-size */
        font-weight: bolder;
    }
    
    .apay-qr-modal-dialog {
      position: relative;
      width: 300px;
      max-height: 80vh;
      border-radius: 5px;
      background: var(--white);
      overflow: auto;
      cursor: default;
    }
    .akivas-pay-close-modal{
      position: absolute;
      right: 0;
      top: 0;
      color: white;
      margin: 10px;
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.7);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      cursor: pointer;
    }
    
    .apay-qr-modal-dialog > * {
      padding: 1rem;
    }
    
    .akivas-pay-modal p + p {
      margin-top: 1rem;
    }
    
    
    /* ANIMATIONS */
    [data-animation] .apay-qr-modal-dialog {
      opacity: 0;
      transition: all 0.5s var(--bounceEasing);
    }
    
    [data-animation].visible .apay-qr-modal-dialog {
      opacity: 1;
      transition-delay: 0.2s;
    }
    
    [data-animation="slideInOutDown"] .apay-qr-modal-dialog {
      transform: translateY(100%);
    }
    
    [data-animation="slideInOutTop"] .apay-qr-modal-dialog {
      transform: translateY(-100%);
    }
    
    [data-animation="slideInOutLeft"] .apay-qr-modal-dialog {
      transform: translateX(-100%);
    }
    
    [data-animation="slideInOutRight"] .apay-qr-modal-dialog {
      transform: translateX(100%);
    }
    
    [data-animation="zoomInOut"] .apay-qr-modal-dialog {
      transform: scale(0.2);
    }
    
    [data-animation="rotateInOutDown"] .apay-qr-modal-dialog {
      transform-origin: top left;
      transform: rotate(-1turn);
    }
    
    [data-animation="mixInAnimations"].visible .apay-qr-modal-dialog {
      animation: mixInAnimations 2s 0.2s linear forwards;
    }
    
    [data-animation="slideInOutDown"].visible .apay-qr-modal-dialog,
    [data-animation="slideInOutTop"].visible .apay-qr-modal-dialog,
    [data-animation="slideInOutLeft"].visible .apay-qr-modal-dialog,
    [data-animation="slideInOutRight"].visible .apay-qr-modal-dialog,
    [data-animation="zoomInOut"].visible .apay-qr-modal-dialog,
    [data-animation="rotateInOutDown"].visible .apay-qr-modal-dialog {
      transform: none;
    }
    
    @keyframes mixInAnimations {
      0% {
        transform: translateX(-100%);
      }
    
      10% {
        transform: translateX(0);
      }
    
      20% {
        transform: rotate(20deg);
      }
    
      30% {
        transform: rotate(-20deg);
      }
    
      40% {
        transform: rotate(15deg);
      }
    
      50% {
        transform: rotate(-15deg);
      }
    
      60% {
        transform: rotate(10deg);
      }
    
      70% {
        transform: rotate(-10deg);
      }
    
      80% {
        transform: rotate(5deg);
      }
    
      90% {
        transform: rotate(-5deg);
      }
    
      100% {
        transform: rotate(0deg);
      }
    }
  
  #loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
    
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  
  .h-6 {
    height: 1.5rem;
  }
  .w-6 {
    width: 1.5rem;
  }